<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartCabinet</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="col-md-12">
        <h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;">Other Options for SmartCabinet</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 0px;margin-bottom: 0px;">Current Weight:&nbsp;</h1><p>{{ weight_value }} g<br /><br />{{ warning_message }}</p><a class="btn btn-primary text-start" role="button" href="/templates/options" style="background: rgb(203,109,0);text-align: center;margin-top: 5px;margin-bottom: 5px;">Refresh Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col"><div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>X</th>
                <th>Y</th>
            </tr>
        </thead>
        <tbody>
        {% for d in hist %}
            <tr>
                <td>{{ d['Person'] }}</td>
                <td>{{ d['Times Accessed'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div>
        </div>
    </div>
    <div class="col" style="text-align: left;margin-top: 0px;"><a class="btn btn-info" role="button" style="margin-left: 18px;text-align: left;margin-bottom: 5px;margin-top: 5px;margin-right: 18px;" href="/templates/selection">Return to Selection Screen</a></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>