<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartCabinet</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 66px;margin-bottom: 66px;">
                <h1 style="text-align: center;font-weight: bold;">Mode Selection</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;"><a class="btn btn-primary btn-lg text-start" role="button" style="margin-top: 20px;margin-bottom: 20px;background: var(--bs-red);padding-left: 44px;padding-right: 44px;" href="/templates/tapmode">Tap Mode</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;"><a class="btn btn-primary btn-lg" role="button" style="margin-top: 20px;margin-bottom: 20px;background: rgb(0,168,220);padding-left: 29px;padding-right: 24px;" href="/templates/keypadmode">Keypad Mode</a></div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;"><a class="btn btn-primary btn-lg" role="button" style="margin-top: 20px;margin-bottom: 20px;background: rgb(0,191,19);" href="/templates/unlockedmode">Unlocked Mode</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;"><a class="btn btn-primary btn-lg" role="button" style="text-align: left;background: var(--bs-yellow);color: var(--bs-black);margin-top: 20px;margin-bottom: 20px;padding-left: 51px;padding-right: 51px;" href="/templates/options">Options</a></div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>