<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartCabinet</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;font-weight: bold;color: var(--bs-red);padding-top: 0px;margin-top: 66px;margin-bottom: 66px;">SmartCabinet</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div class="row">
                    <div class="col" style="margin-top: 30px;margin-bottom: 30px;"><img width="200" height="125" src="../assets/img/logo-no-background.png"></div>
                </div><a class="btn btn-primary btn-lg" role="button" style="background: var(--bs-red);margin-top: 20px;margin-bottom: 20px;" href="/templates/selection">Start</a>
            </div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>