<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartCabinet</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;">Tap Mode for RFID</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><p>RFID Enabled: {{ rfid_state }}</p></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><div class="btn-group" role="group"><a class="btn btn-primary btn-lg {{ ondisabled }}" role="button" style="border-color: var(--bs-black);background: rgb(0,207,8);" href="/rfidtag/1">ON</a><a class="btn btn-primary btn-lg {{ offdisabled }}" role="button" style="border-color: var(--bs-black);background: var(--bs-danger);" href="/rfidtag/0">OFF</a></div></div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>