<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartCabinet</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="col-md-12">
        <h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;">Unlocking the Cabinet</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><p>Box State: {{ box_lock_state }}</p></div>
            <div class="col-md-6" style="text-align: center;"><div class="btn-group" role="group" style="margin-right: 49px;margin-left: 49px;text-align: center;margin-top: 20px;margin-bottom: 20px;"><a class="btn btn-primary {{ offdisabled }}" role="button" style="border-color: var(--bs-black);background: var(--bs-danger);padding-left: 20px;padding-right: 20px;" href="/templates/boxlock/0">Lock</a><a class="btn btn-primary {{ ondisabled }}" role="button" style="background: #05d00d;border-color: var(--bs-black);" href="/templates/boxlock/1">Unlock</a></div></div>
        </div>
    </div>
    <div class="col"><a class="btn btn-info" role="button" style="margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 20px;" href="/templates/selection">Return to Selection Screen</a></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>